.heading{
    color: #001A56;
    font-size: clamp(1.25rem, 0.7955rem + 2.2727vw, 2.5rem);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.sub_heading{
    color: #4E5AFE;
    font-size: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 6px;
    text-align: center;
}

