.input_box > label {
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  font-weight: 600;
}
.input_box > label span {
  color: red;
  font-size: 18px;
}
.input_group {
  border: 2px solid lightgray;
  border-radius: 4px;
  position: relative;
}
.input_group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.input_group input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 6px 30px;
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  font-weight: 500;
  margin: 0;
  outline: none;
}
.input_group .eye_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.signup_container .react-tel-input .form-control {
  width: 100% !important;
}
.signup_container .flag-dropdown {
  color: black !important;
  font-size: 12px !important;
  font-weight: 500;
  /* width: 100% !important; */
}

.signup_container .country-list {
  width: 280px !important;
  border-radius: 8px;
  box-shadow: 0 0 1px 0px black;
}
.signup_container .form-control:focus {
  border: 2px solid lightgray;
  box-shadow: none !important;
}
.signup_container .form-control {
  border: 2px solid lightgray;
}
.signup_container .search-box {
  font-size: 12px !important;
  font-weight: 500;
}
.signup_container .select__control {
  border: 2px solid lightgray;
  font-size: 12px;
  font-weight: 500;
}
.css-13cymwt-control:hover {
  border-color: lightgray !important;
}
.signup_container .select__menu {
  font-size: 12px !important;
  font-weight: 500;
}
::placeholder {
  font-size: 12px;
  font-weight: 500;
}
.policy_text {
  font-size: clamp(0.625rem, 0.5795rem + 0.2273vw, 0.75rem);
  font-weight: 500;
}
.g-recaptcha {
  background-color: rgb(78, 90, 254);
  padding: 10px 30px;
  border: none;
  text-wrap: nowrap;
  height: fit-content;
  width: fit-content;
  color: white;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}
